.about__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card,
.about__content {
    background: var(--color-bg-variant);
    border-radius: 1rem;
    border: 1px solid transparent;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover,
.about__content:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.about__card h5,
.about__card small {
    line-height: 160%;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    color: var(--color-light);
    font-size: 1.4rem;
    line-height: 150%;
    font-family: 'Kaushan Script';
}

/*===================MEDIA QUERIES (MEDIUM)==================*/

@media screen and (max-width: 991.98px) {
    .about__container {
        gap: 2rem;
    }
   
    .about__content p {
        font-size: 1.2rem;
    }
    
}

/*===================MEDIA QUERIES (SMALL)==================*/

@media screen and (max-width: 767.98px) {
    .about__container {
        gap: 1rem;
    }
    .about__container a {
        width: 50%;
        text-align: center;
    }
    .about__cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .about__content {
        text-align: center;
    }
    .about__content p {
        font-size: 1rem;
    }
}

/*===================MEDIA QUERIES (SMALL XS)==================*/

@media screen and (max-width: 448.98px) {
    .about__container a {
        width: 100%;
        text-align: center;
    }
}