.container.contact__container {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact__option a {
    font-size: 0.9rem;
    margin-top: 0.7rem;
    display: inline-block;
}


input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    margin-bottom: 1rem;
}

input::placeholder,
textarea::placeholder {
    color: var(--color-light);
    font-size: 1rem;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
    transition: var(--transition);
}
/*===================MEDIA QUERIES (SMALL)==================*/

@media screen and (max-width: 991.98px) {
    .container.contact__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/*===================MEDIA QUERIES (SMALL)==================*/

@media screen and (max-width: 767.98px) {
    
}

@media screen and (max-width: 448.98px) {
    
}