.header {
    min-height: 100vh;
    padding-top: 7rem;
}

.header__container {
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.app__subtitle {
    line-height: 1.2;
    font-family: 'Kaushan Script';
    color: var(--color-white);
    font-size: 2rem;
}

.app__title {
    font-family: 'Orbitron';
    color: var(--color-primary);
    font-size: 4rem;
    line-height: 150%;
    margin-top: 1rem;
}

/*=====================CTA====================*/

.cta {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
    justify-content: center;
}

/*=============HEADER SOCIALS================*/

.header__socials {
    position: absolute;
    left: 0;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*=====================ME====================*/

.me {
    width: 35rem;
    height: 35rem;
    position: relative;
    margin-top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.me img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*=============DOWN SCROLL================*/

.scroll__down {
    position: absolute;
    right: -2rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*===================MEDIA QUERIES (MEDIUM)==================*/

@media screen and (max-width: 991.98px) {
    .header {
        height: 88vh;
        padding-top: 3rem;
    }
    .app__title {
        font-size: 3rem;
    }
    .me {
        margin-top: 2rem;
    }
}

/*===================MEDIA QUERIES (SMALL)==================*/

@media screen and (max-width: 767.98px) {
    .header {
        height: 100vh;
        padding-top: 0.5rem;
    }
    .me {
        margin-top: 1rem;
        height: 25rem;
        width: 25rem;
    }
    .header__socials,
    .scroll__down {
        display: none;
    }
    .app__title {
        font-size: 2rem;
    }
    .app__subtitle {
        font-size: 1.5rem;
    }
}

/*===================MEDIA QUERIES (SMALL XS)==================*/

@media screen and (max-width: 448.98px) {
    
    .app__title {
        line-height: 120%;
    }
    .me {
        height: 20rem;
        width: 20rem;
    }
    .cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cta a {
        width: 100%;
    }
}