@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Kanit:wght@300;400;500;600&family=Kaushan+Script&display=swap');
@import url('reset-all.css');
@import url('variables.css');


html,
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    line-height: 120%;
    letter-spacing: 0.064rem;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
    background: var(--color-bg);
    color: var(--color-white); 
}

::-webkit-scrollbar {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    padding: 7.1rem 0 7.1rem;
}

section > h2,
section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    margin-bottom: 3rem;
    color: var(--color-primary);
    font-size: 3rem;
    line-height: 150%;
    font-weight: 500;
}

section > h5 {
    color: var(--color-white);
    font-size: 1.2rem;
    line-height: 125%;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    color: var(--color-primary);
    border-radius: 0.4rem;
    transition: var(--transition);
    border: 1px solid var(--color-primary);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-primary);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: gray;
}

.personal-portfolio {
    font-family: 'Orbitron';
    font-size: 0.8rem;
    color: var(--color-bg-variant);
    text-align: center;
}

img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    object-fit: cover;
}

/*===================MEDIA QUERIES (MEDIUM)==================*/
@media screen and (min-width: 991.98px) {
    .container {
        max-width: var(--container-width-bg);
        margin: 0 auto;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 991.98px) {
    .container {
        width: var(--container-width-lg);
    }
    
    section {
        padding: 5.5rem 0 5.5rem;
    }
}

/*===================MEDIA QUERIES (SMALL)==================*/

@media screen and (max-width: 767.98px) {
    .container {
        width: var(--container-width-md);
    }
    
    section {
        padding: 3rem 0 3rem;
    }

    section > h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    
    section > h5 {
        color: var(--color-white);
        font-size: 1rem;
    }
}

@media screen and (max-width: 448.98px) {
    .container {
        width: var(--container-width-sml);
    }
}