:root {
    --color-bg: linear-gradient(to right, rgb(50, 50, 50), gray, rgb(50, 50, 50));                                             
    --color-bg-variant: rgb(62, 56, 56);                                     
    --color-primary: rgb(0, 255, 0);                                        
    --color-primary-variant: rgba(0, 255, 0, 0.3);                     
    --color-light: rgb(255, 250, 205);                         
    --color-white: #ffffff;
    
    --transition: all .5s ease 0s; 

    --container-width-bg: 82%;
    --container-width-lg: 88%;
    --container-width-md: 92%;
    --container-width-sml: 96%;
}